# General
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IDEs
.idea/
*.iml
*.ipr
*.iws

# VS Code
.vscode/

# Android NDK / CMake build artifacts
**/android/app/.cxx/

# Flutter/Dart/Pub
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
**/doc/api/
**/ios/Flutter/.last_build_id

# Build outputs
build/
android/app/debug/
android/app/profile/
android/app/release/

# iOS specific
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec
ios/Flutter/App.framework/
ios/ServiceDefinitions.json
ios/Runner.xcworkspace/
ios/Pods/
ios/Podfile.lock
ios/.symlinks/
ios/build/

# macOS
macos/Flutter/ephemeral/
macos/build/

# Windows
windows/Flutter/ephemeral/
windows/build/

# Linux
linux/Flutter/ephemeral/
linux/build/

# Web
web/build/

# Android Studio
.gradle/
local.properties

# Symbolication
app.*.symbols

# Obfuscation
app.*.map.json

# Optional: Ignore metadata (not needed in repo)
.metadata
